# PyInstaller
dist/
build/
*.spec

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# mine
backup/
builds/library_build_20251201_214327/VC_redist.x64.exe
VC_redist.x64.exe
libraryManager.zip
libraryManager.rar
